node_modules
slides_archive/
.DS_Store
**/.DS_Store
Quizzes/
1 vonne Rogers, Helen Sharp, Jennifer Preece - Interaction Design_ Beyond Human-Computer Interaction-W (1).pdf
project/phases/lit review/submissions/
pdf_to_md/
1 vonne Rogers, Helen Sharp, Jennifer Preece - Interaction Design_ Beyond Human-Computer Interaction-W.pdf
